<hivemq-postgresql-extension xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                             xsi:noNamespaceSchemaLocation="config.xsd">
    <postgresqls>
        <postgresql>
            <id>my-postgresql-id</id>
            <host>my.host.com</host>
            <port>5432</port>
            <database>my-database</database>
            <username>my-user</username>
            <password>my-password</password>
        </postgresql>
    </postgresqls>

    <mqtt-to-postgresql-routes>

        <!-- insert every message using the INSERT STATEMENT processor -->
        <mqtt-to-postgresql-route>
            <id>my-mqtt-to-postgresql-route-insert</id>
            <postgresql-id>my-postgresql-id</postgresql-id>
            <mqtt-topic-filters>
                <mqtt-topic-filter>#</mqtt-topic-filter>
            </mqtt-topic-filters>
            <processor>
                <insert-statement>
                    <table>mqtt_to_postgresql_table</table>
                    <batching>true</batching>
                    <columns>
                        <column>
                            <name>topic</name>
                            <value>mqtt-topic</value>
                        </column>
                        <column>
                            <name>payload_utf8</name>
                            <value>mqtt-payload-utf8</value>
                        </column>
                    </columns>
                </insert-statement>
            </processor>
        </mqtt-to-postgresql-route>

        <!-- insert every message using the STATEMENT TEMPLATE processor -->
        <mqtt-to-postgresql-route>
            <id>my-mqtt-to-postgresql-route-template</id>
            <postgresql-id>my-postgresql-id</postgresql-id>
            <mqtt-topic-filters>
                <mqtt-topic-filter>#</mqtt-topic-filter>
            </mqtt-topic-filters>
            <processor>
                <statement-template>statement-template.sql</statement-template>
            </processor>
        </mqtt-to-postgresql-route>

    </mqtt-to-postgresql-routes>
</hivemq-postgresql-extension>
