<?xml version="1.0" encoding="UTF-8" ?>
<enterprise-security-extension
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="config.xsd"
        version="1">
    <realms>
        <sql-realm>
            <name>postgres-backend-1</name>
            <enabled>true</enabled>
            <configuration>
                <db-type>POSTGRES</db-type>
                <db-name>hivemq-1</db-name>
                <db-host>hostname</db-host>
                <db-port>5432</db-port>
                <db-username>hivemq</db-username>
                <db-password>password</db-password>
            </configuration>
        </sql-realm>

        <sql-realm>
            <name>postgres-backend-2</name>
            <enabled>true</enabled>
            <configuration>
                <db-type>POSTGRES</db-type>
                <db-name>hivemq-2</db-name>
                <db-host>hostname</db-host>
                <db-port>5432</db-port>
                <db-username>hivemq</db-username>
                <db-password>password</db-password>
            </configuration>
        </sql-realm>

        <file-realm>
            <name>file-realm</name>
            <enabled>true</enabled>
            <configuration>
                <file-path>conf/ese-file-realm.xm</file-path>
            </configuration>
        </file-realm>
    </realms>

    <pipelines>
        <listener-pipeline listener="ALL">
            <chain-authentication-manager>
                <strategy>
                    <check-next-on-unknown-authentication-key-or-wrong-secret/>
                </strategy>
                <chain>
                    <sql-authentication-manager>
                        <realm>postgres-backend-1</realm>
                    </sql-authentication-manager>
                    <sql-authentication-manager>
                        <realm>postgres-backend-2</realm>
                    </sql-authentication-manager>
                </chain>
            </chain-authentication-manager>
            <chain-authorization-manager>
                <strategy>
                    <check-next-on-unknown-authorization-keys-or-empty-permissions/>
                </strategy>
                <chain>
                    <file-authorization-manager>
                        <realm>file-realm</realm>
                        <use-authorization-role-key>false</use-authorization-role-key>
                    </file-authorization-manager>
                    <file-authorization-manager>
                        <realm>file-realm</realm>
                        <use-authorization-key>false</use-authorization-key>
                    </file-authorization-manager>
                </chain>
            </chain-authorization-manager>
        </listener-pipeline>

        <control-center-pipeline>
            <chain-authentication-manager>
                <strategy>
                    <check-next-on-unknown-authentication-key/>
                </strategy>
                <chain>
                    <sql-authentication-manager>
                        <realm>postgres-backend-1</realm>
                    </sql-authentication-manager>
                    <sql-authentication-manager>
                        <realm>postgres-backend-2</realm>
                    </sql-authentication-manager>
                    <file-authentication-manager>
                        <realm>file-realm</realm>
                    </file-authentication-manager>
                </chain>
            </chain-authentication-manager>
            <chain-authorization-manager>
                <strategy>
                    <check-next-on-unknown-authorization-keys/>
                </strategy>
                <chain>
                    <sql-authorization-manager>
                        <realm>postgres-backend-1</realm>
                    </sql-authorization-manager>
                    <sql-authorization-manager>
                        <realm>postgres-backend-2</realm>
                    </sql-authorization-manager>
                    <file-authorization-manager>
                        <realm>file-realm</realm>
                    </file-authorization-manager>
                </chain>
            </chain-authorization-manager>
        </control-center-pipeline>

        <rest-api-pipeline listener="ALL">
            <chain-authentication-manager>
                <strategy>
                    <check-next-on-unknown-authentication-key/>
                </strategy>
                <chain>
                    <sql-authentication-manager>
                        <realm>postgres-backend-2</realm>
                    </sql-authentication-manager>
                    <sql-authentication-manager>
                        <realm>postgres-backend-1</realm>
                    </sql-authentication-manager>
                </chain>
            </chain-authentication-manager>
            <chain-authorization-manager>
                <strategy>
                    <merge-all-permissions/>
                </strategy>
                <chain>
                    <sql-authorization-manager>
                        <realm>postgres-backend-1</realm>
                    </sql-authorization-manager>
                    <sql-authorization-manager>
                        <realm>postgres-backend-2</realm>
                    </sql-authorization-manager>
                </chain>
            </chain-authorization-manager>
        </rest-api-pipeline>
    </pipelines>
</enterprise-security-extension>
